.about {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'image info';
  padding: 80px 104px;
  gap: 56px;
}

@media screen and (max-width: 1440px) {
  .about {
    padding: 61px 40px;
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 32px 16px 128px;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'image'
      'info';
    gap: 24px;
  }
}
