.navbar__container {
  grid-area: links;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 34px;
  z-index: 2;
}

@media screen and (max-width: 1440px) {
  .navbar__container {
    gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .navbar__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 16px 0 24px;
  }
}
