.news-card__header {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-line;

  grid-area: header;
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  padding-top: 12px;
}

@media screen and (max-width: 1440px) {
  .news-card__header {
    -webkit-line-clamp: 4;
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
  }
}

@media screen and (max-width: 768px) {
  .news-card__header {
    -webkit-line-clamp: 2;
    font-size: 22px;
    padding-top: 10px;
  }
}
