.news-card__action-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
}

.news-card__action-btn:hover {
  background-color: #fff;
  opacity: 1;
  cursor: default;
}

.news-card__action-btn:active {
  opacity: 1;
}
