.saved-articles_section_info {
  padding: 40px 104px 56px;
}

@media screen and (max-width: 1440px) {
  .saved-articles_section_info {
    padding: 24px 40px 32px;
  }
}

@media screen and (max-width: 768px) {
  .saved-articles_section_info {
    padding: 8px 16px 32px;
  }
}
